* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Fraunces;
}

@font-face {
  font-family: Fraunces;
  src: url("./Fraunces-Regular.ttf");
}

@font-face {
  font-family: Mulish;
  src: url("./Mulish-Regular.ttf");
}

.Nav_bar {
  width: 100%;
  height: 140px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 60px;
}

.Nav_bar .lll {
  position: absolute;
  content: '';
  margin-left: 19px;
  margin-top: 12px;
}

.Nav_bar .aaa {
  margin-left: 11.83px;
}

.Nav_bar .collection {
  margin-left: 514px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.Nav_bar .collection .nc_item {
  font-family: Mulish;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #222222;
  margin-left: 82px;
}

.UIUXer {
  width: 100%;
  height: 1163px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.UIUXer .UIUXer_child {
  width: 1320px;
  height: 1063px;
  background-color: transparent;
  background-image: url("./IMAGE (59).png");
  text-align: center;
}

.UIUXer .UIUXer_child .uch_title {
  font-size: 85px;
  font-weight: 400;
  line-height: 130px;
  letter-spacing: 0.4px;
  padding-top: 163px;
  color: #242F65;
}

.UIUXer .UIUXer_child .uc_lasttit {
  font-size: 85px;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #FF774C;
  position: absolute;
  content: '';
  padding-left: 880px;
  margin-top: -116px;
}

.UIUXer .UIUXer_child .uc_text {
  font-family: Mulish;
  font-size: 25px;
  font-weight: 400;
  line-height: 37.5px;
  padding-top: 10px;
  letter-spacing: 0.4px;
  color: #242F65;
}

.UIUXer .UIUXer_child .uc_btn {
  width: 266px;
  height: 69px;
  background-color: #FF774C;
  color: #fff;
  font-family: Mulish;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.4px;
  margin-top: 25px;
  border: none;
  cursor: pointer;
}

.UIUXer .UIUXer_child .uc_btn2 {
  width: 266px;
  height: 69px;
  background-color: #7390F9;
  color: #fff;
  font-family: Mulish;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.4px;
  margin-top: 25px;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}

.UIUXer .UIUXer_child img {
  margin-top: 55.81px;
}

.Home {
  width: 100%;
  height: 170px;
  background-color: #fff;
  text-align: center;
}

.Home .Home_title {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #242F65;
  padding-top: 45px;
}

.Home .Home_text {
  font-family: Mulish;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #525665;
  padding-top: 10px;
}

.HomeBig {
  width: 100%;
  height: 885px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.HomeBig .HomeBig_img {
  width: 1320px;
  height: 882px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Hometext {
  width: 100%;
  height: 187px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Hometext .ht_as {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #242F65;
  margin-top: 39px;
  margin-left: 329px;
}

.Hometext .ht_ss {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #242F65;
  margin-top: 39px;
  margin-left: 439px;
}

.Home2 {
  width: 100%;
  height: 200px;
  background-color: #EDF0F9;
  text-align: center;
}

.Home2 .Home_title {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #242F65;
  padding-top: 25px;
}

.Home2 .Home_text {
  font-family: Mulish;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #525665;
  padding-top: 10px;
}

.HomeBig2 {
  width: 100%;
  height: 885px;
  background-color: #EDF0F9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.HomeBig2 .HomeBig_img {
  width: 1320px;
  height: 882px;
  background-color: #EDF0F9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Hometext2 {
  width: 100%;
  height: 187px;
  background-color: #EDF0F9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Hometext2 .ht_as {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #242F65;
  margin-top: 39px;
  margin-left: 279px;
}

.Hometext2 .ht_ss {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #242F65;
  margin-top: 39px;
  margin-left: 369px;
}

.Home3 {
  width: 100%;
  height: 200px;
  background-color: #fff;
  text-align: center;
}

.Home3 .Home_title {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #242F65;
  padding-top: 25px;
}

.Home3 .Home_text {
  font-family: Mulish;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #525665;
  padding-top: 10px;
}

.HomeBig3 {
  width: 100%;
  height: 885px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.HomeBig3 .HomeBig_img {
  width: 1320px;
  height: 882px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Hometext3 {
  width: 100%;
  height: 187px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Hometext3 .ht_as {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #242F65;
  margin-top: 39px;
  margin-left: 379px;
}

.Hometext3 .ht_ss {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #242F65;
  margin-top: 39px;
  margin-left: 589px;
}

.HomeBig4 {
  width: 100%;
  height: 885px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.HomeBig4 .HomeBig_img {
  width: 1320px;
  height: 882px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Hometext4 {
  width: 100%;
  height: 187px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Hometext4 .ht_as {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #242F65;
  margin-top: 39px;
  margin-left: 369px;
}

.Hometext4 .ht_ss {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #242F65;
  margin-top: 39px;
  margin-left: 523px;
}

.Pages {
  width: 100%;
  height: 276px;
  background-color: #2A2C32;
  text-align: center;
}

.Pages .Pages_title {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #fff;
  padding-top: 120px;
}

.Pages .Pages_text {
  font-family: Mulish;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  padding-top: 10px;
}

.PagesBig {
  width: 100%;
  height: 369px;
  background-color: #2A2C32;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.PagesBig .PagesBig_img {
  width: 1320px;
  height: 368px;
  background-color: #2A2C32;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Pagestext {
  width: 100%;
  height: 163px;
  background-color: #2A2C32;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Pagestext .pt_as {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #fff;
  margin-top: 39px;
  margin-left: 345px;
}

.Pagestext .pt_ss {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #fff;
  margin-top: 39px;
  margin-left: 558px;
}

.PagesBig2 {
  width: 100%;
  height: 848px;
  background-color: #2A2C32;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.PagesBig2 .PagesBig_img {
  width: 1320px;
  height: 847px;
  background-color: #2A2C32;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Pagestext2 {
  width: 100%;
  height: 163px;
  background-color: #2A2C32;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Pagestext2 .pt_as {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #fff;
  margin-top: 39px;
  margin-left: 345px;
}

.Pagestext2 .pt_ss {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #fff;
  margin-top: 39px;
  margin-left: 598px;
}

.PagesBig3 {
  width: 100%;
  height: 369px;
  background-color: #2A2C32;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.PagesBig3 .PagesBig_img {
  width: 1320px;
  height: 368px;
  background-color: #2A2C32;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Pagestext3 {
  width: 100%;
  height: 163px;
  background-color: #2A2C32;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Pagestext3 .pt_as {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #fff;
  margin-top: 39px;
  margin-left: 295px;
}

.Big_Ready {
  width: 100%;
  height: 703px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Big_Ready .Ready {
  width: 1320px;
  height: 503px;
  background-image: url("./IMAGE (73).png");
  border-radius: 20px;
  padding-left: 60px;
}

.Big_Ready .Ready .Ready_title {
  font-size: 40px;
  font-weight: 400;
  color: #242F65;
  padding-top: 121px;
}

.Big_Ready .Ready .Ready_text {
  font-family: Mulish;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #525665;
  padding-top: 12px;
}

.Big_Ready .Ready .Ready_btn {
  width: 274px;
  height: 69px;
  background-color: #FF774C;
  border: none;
  border-radius: 10px;
  margin-top: 18px;
  font-family: Mulish;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #fff;
  cursor: pointer;
}

.Big_Ready .Ready .Read_img {
  position: absolute;
  content: '';
  margin-top: -267px;
  margin-left: 335px;
}

.Big_Ready .Ready .rrr_img {
  position: absolute;
  content: '';
  margin-top: 25px;
  margin-left: -260px;
  cursor: pointer;
}

.Footer {
  width: 100%;
  height: 888px;
  background-image: url("./IMAGE (59).png");
  background-size: cover;
}

.Footer .footer_top {
  width: 100%;
  height: 494.17px;
  background-color: transparent;
}

.Footer .footer_top .img {
  margin-top: 92.21px;
  margin-left: 610px;
}

.Footer .footer_top .s1 {
  margin-left: 102px;
}

.Footer .footer_top .comp {
  font-family: Mulish;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #242F65;
  margin-left: 10px;
}

.Footer .footer_top .s2 {
  margin-left: 85px;
}

.Footer .footer_top .s3 {
  margin-left: 109px;
}

.Footer .footer_top .s4 {
  margin-left: 85px;
}

.Footer .adf {
  width: 100%;
  height: 2px;
  background-color: #D092BA;
}

.Footer .footer_center {
  width: 100%;
  height: 319px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 60px;
}

.Footer .footer_center .col1 {
  list-style-type: none;
  margin-top: 113.83px;
  color: #242F65;
  font-size: 25px;
  font-weight: 400;
}

.Footer .footer_center .col1 .item1 {
  margin-top: 15px;
}

.Footer .footer_center .col2 {
  list-style-type: none;
  margin-top: 113.83px;
  color: #242F65;
  font-size: 25px;
  font-weight: 400;
  margin-left: 79px;
}

.Footer .footer_center .col2 .item2 {
  margin-top: 15px;
}

.Footer .footer_center .Interested {
  width: 819px;
  height: 116px;
  border-radius: 20px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 132px;
  margin-top: 143.83px;
}

.Footer .footer_center .Interested .wow {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #242F65;
  padding-left: 30px;
}

.Footer .footer_center .Interested .button {
  width: 182px;
  height: 52px;
  background-color: #242F65;
  border: none;
  color: #fff;
  border-radius: 10px;
  font-family: Mulish;
  font-size: 20px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.Footer .footer_center .Interested .button .asss {
  padding-left: 10px;
  font-family: Mulish;
}

.Footer .adf {
  width: 100%;
  height: 2px;
  background-color: #D092BA;
}

.Footer .footer_bottom {
  width: 100%;
  height: 67.83px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Footer .footer_bottom p {
  font-family: Mulish;
  font-size: 20px;
  font-weight: 400;
  color: #242F65;
  letter-spacing: 0.4px;
}
/*# sourceMappingURL=Imtihon3.css.map */